<div class="form-row">
	<h1>Start Quiz</h1>
</div>
<div class="form-row">
	<div class="form-group">
		<p>This Quiz is composed of <%= @total %> random questions about general topics</p>
	</div>
	<div class="form-group">
		<%= form_tag({:controller => "quiz",
					  :action => "new"}) do %>
		<%= submit_tag "Start!", :class => "btn btn-back"%>
		<% end %>
	</div>

</div>
<% content_for(:title) do %>
Start Quiz
<% end %>
