
<h1>Start Quiz</h1>

<%= form_tag({:controller => "quiz",
				  :action => "new"}) do %>
  <p>This Quiz is composed of 20 random questions about general topics</p>  

  <div class="center">
	 <%= submit_tag "Start!", :class => "submit"%>
  </div>
<% end %>

<% content_for(:title) do %>
  Start Quiz
<% end %>
